<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ainekset</title>
        <meta charset="UTF-8" />
    </head>

    <body>
        <ol>
            <li th:each="arvo: ${aineksia}">
                <!--<span th:text="${arvo.id}">1</span>-->
                <span th:text="${arvo.nimi}">Essi esimerkki</span>
            </li>
        </ol>
    </body>
</html>
