<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Sushi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Tervetuloa tee-se-itse-sushi-ravintolaan!</h2>
        <p>Täällä voit selata muiden lisäämiä sushiohjeita, muokata niitä sekä lisätä omia sushiohjeitasi muiden käytettäväksi ja testattavaksi. Mikäli raaka-ainelistauksestamme ei löydy kaikkea haluamaasi, lisää ensin tarvitsemasi ainekset raaka-ainearkistoon. Tutustu ja nauti!</p>

        <h3>Sushilistaus:</h3>

        <ul>
            <li th:each="arvo: ${sushit}">
                <a th:href="${'/sushit/' + arvo.id}"><span th:text="${arvo.nimi}">Sushi nimi + linkki</span></a>
            </li>
        </ul>

        <br/>

        <p><a href="/ainekset">Raaka-ainelistaukseen</a></p>
        <p><a href="/sushit">Lis&auml;&auml; tai poista sushi</a></p>

    </body>
</html>