<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Sushin Lis&auml;ys</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h4>Sushilistaus</h4>

        <ul>
            <li th:each="arvo: ${sushit}">
                <a th:href="${'/sushit/' + arvo.id}"><span th:text="${arvo.nimi}">Sushi nimi + linkki</span></a>
            </li>
        </ul>

        <h4>Lis&auml;&auml; oma sushiresepti</h4>
        
        <form method="POST" action="">
            Sushin nimi <br/>
            <input type="text" name="sushinNimi"/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>
        
        <h4>Lis&auml;&auml; raaka-aine sushille</h4>
        
        <form method="POST" action="">
            Sushin nimi:<br/>
            <select name="sushi">
                <!--Lisää tähän sushien pudotusvalikon valinnat-->
            </select><br/>
            Lis&auml;tt&auml;v&auml; raaka-aine<br/>
            <select name="raaka-aine">
                <!--Lisää tähän raaka-aineiden pudotusvalikon valinnat-->
            </select><br/>
            M&auml;&auml;r&auml;<br/>
            <input type="text"/><br/>
            J&auml;rjestys<br/>
            <input type="text"/><br/>
            Ohje<br/>
            <input type="text"/><br/>
            <input type="submit" value="Lis&auml;&auml;"/>
        </form>

        
        
        
        <p><a href="/">Takaisin etusivulle</a></p>
    </body>
</html>