<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Sushin raaka-aineet</title>
        <meta charset="UTF-8" />
    </head>

    <body>

        <h2>
            <span th:text="${sushinNimi.nimi}">sushin nimi</span>
        </h2>

        <ul>
            <li th:each="arvo: ${sushinRaakaAineet}">
                <span th:text="${arvo.nimi}">Sushin raaka-aineiden listaus</span>
                <form th:action="@{~/sushit/{sushiId}/{raakaAine_id}(sushiId= ${sushiId}, raakaAine_id=${arvo.id})}" method="POST" style="display: inline-block">
                    <input type="submit" value="Poista"/>
                </form>
                <ul>
                    <li th:each="raakaAine: ${SushiinLiittyvatSushiRaakaAineet}" th:if="${arvo.id==raakaAine.raakaAineId}">
                        <span>M&auml;&auml;r&auml;: </span>
                        <span th:text="${raakaAine.maara}">Sushin raaka-aineiden listaus</span>
                        <span>, J&auml;rjestysnumero: </span>
                        <span th:text="${raakaAine.jarjestysNumero}">Sushin raaka-aineiden listaus</span>
                        <span>ja ohje: </span>
                        <span th:text="${raakaAine.ohje}">Sushin raaka-aineiden listaus</span>
                    </li>
                </ul>
            </li>
        </ul>


        <h4>Lis&auml;&auml; raaka-aine sushille</h4>

        <form method="POST" action="">
                        Lis&auml;tt&auml;v&auml; raaka-aine<br/>
                        <select th:field="*{aineksia}" name="raakaAine">
                            <!-- Lisää tähän raaka-aineiden pudotusvalikon valinnat-->
            
                            <option th:each="arvo: ${aineksia}" th:value="${arvo.id}" th:text="${arvo.nimi}"></option>
                            <!--<span th.href="${arvo.nimi}"></span>
            
                            <option value="2">Lev&auml;</option>-->
                        </select><br/>
        <!--    Lis&auml;tt&auml;v&auml;n raaka-aineen indeksi<br/>
            <input type="text" name="raakaAine"/><br/>-->

            M&auml;&auml;r&auml;<br/>
            <input type="text" name="maara"/><br/>

            J&auml;rjestys<br/>
            <input type="text" name="jarjestys"/><br/>

            Ohje<br/>
            <input type="text" name="ohje"/><br/>


            <input type="submit" value="Lis&auml;&auml;"/>
        </form>

        <p><a href="/">Takaisin etusivulle</a></p>


    </body>

</html>
